.tabtab1 {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    font-weight: bold;
    padding-left: 2em;
  }
}
.admin-actions {
  a,
  button {
    margin-right: 5px;
  }
}

.tabtab2 {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    font-weight: bold;
    padding-left: 2em;
  }
}
.admin-actions {
  a,
  button {
    margin-right: 10px;
  }
}
.usus {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.usus2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.totaladmin {
  height: 85vh;
  background-image: linear-gradient(
    45deg,
    rgb(240, 231, 185) 26.8%,
    #a9f1e1 64%
  );
}
.hadmin {
  margin-top: 0rem;
}
.u1 {
  display: flex;
  justify-content: space-around;
  padding-left: -10em;
}
.inp {
  margin-left: -7.5em;
}

.button-12 {
  padding: 5px 10px;
  font-size: 19px;
  border-radius: 8px;
  border: none;
  background-color: #ebf1f5;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.iol {
  margin-right: -3em;
}
