.rectangle {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 25vh;
  padding: none;
  border-top: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(130, 235, 187, 1) 0%,
    rgba(117, 238, 204, 1) 50%,
    rgba(219, 214, 73, 1) 100%
  );
  border-image-slice: 1;
  margin-top: 3rem;

  .services {
    height: 40px;
    font-family: "Lexend";
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    margin-top: 3rem;

    .txtFoot {
      display: flex;

      justify-content: space-around;
      list-style: none;
    }
  }
  .mentionsLeg {
    font-family: "Lexend";
    font-style: normal;
    font-size: smaller;
    list-style-type: none;
    margin-top: 2rem;

    .utilisation {
      list-style-type: none;
    }
  }
}
